@page
@model Smm.ContohRazor.Pages.DataKonsumen.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataKonsumen[0].NoKTP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataKonsumen[0].TanggalLahir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataKonsumen[0].JenisKelamin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataKonsumen[0].Agama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataKonsumen[0].Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataKonsumen[0].NamaBPKB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataKonsumen[0].AlamatTinggal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataKonsumen[0].AlamatKirim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataKonsumen[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataKonsumen[0].CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DataKonsumen) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoKTP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanggalLahir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JenisKelamin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaBPKB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlamatTinggal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlamatKirim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
